<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% @products.each do |product| %>
      <div class="thumbnail col-md-2" style="margin-right: 3%;">
        <%= link_to(image_tag(product.product_image.images[0].url(:large)), product_path(product)) %>
        <div class="caption">
          <h4><%= product.title %></h4>
          <p><%= User.find(product.user_id).username %> <%= t("welcome.upload") %></p>
          <p><span class="glyphicon glyphicon-heart"></span>4</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= paginate @products %>
  </div>
</div>
