<p>
  <%= t("respect.hello")%>
  <%= resource.email %>
</p>

<p><%= t("devise.mailer.request") %></p>
<p><%= link_to(t("devise.mailer.change_pw"), edit_password_url(@resource, reset_password_token: @token)) %></p>
<p><%= t("devise.mailer.ignore") %></p>
<p><%= t("devise.mailer.no_change") %></p>
