<h2>新增图纸</h2>
<%= form_for @product, html: { 'roll': 'form' } do |product| %>
  <div class="form-group">
    <%= product.label :图纸名称 %>
    <%= product.text_field :title, class: 'form-control', placeholder: '請輸入圖紙標題' %>
  </div>
  <div class="form-group">
    <%= product.label :图纸描述 %>
    <%= product.text_area :description, class: 'form-control', placeholder: '请输入您想添加的描述' %>
  </div>
  <div class="form-group">
    <h5><%= product.label :上传3D图纸 %><small>-仅支持stl</small></h5>
    <%= product.fields_for :drawing do |drawing| %>
    <%= drawing.file_field :drawing %>
    <% end %>
  </div>
  <div class="form-group">
    <h5><%= product.label :上傳圖片 %><small>-仅支持jpg/jpeg/png文件格式</small></h5>
    <%= product.fields_for :product_images do |image| %>
      <%= image.file_field :image, accept: 'image/jpeg,image/jpg,image/png' %>
    <% end %>
  </div>
  <%= product.submit '送出', class: 'btn btn-default' %>

<% end %>
