<div class="row">
  <div class="col-md-1 col-md-offset-1 ">
    <% if @maker.photo %>
    <%= image_tag @maker.photo.image_url(:thumb), class: "img-responsive center-block", width: '100%' %>
    <% else %>
    <%= image_tag 'default.jpg', width: '100%' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3><%= @product.title %></h3>
    <p><%= @maker.username %> 上传</p>
  </div>
</div>
<div class="row">
    <div class="col-md-1 col-md-offset-1">
      <% @product.product_image.images.each do |each_image| %>
      <%= link_to (image_tag each_image.url(:square), 'class': "img-responsive col-md-12 thumb-image", "large-image-url": "#{each_image.url(:large)}", style: "padding-left:0px;padding-right:0px; margin-bottom:5%;"), "#", remote: 'true' %>
      <% end %>
    <div class="col-md-12">
      <%= link_to (image_tag('cube.jpg', width: '100%', height: 'auto', 'class': "img-thumbnail thumb-drawing")), "#", remote: 'ture' %>
    </div>
  </div>
  <div class="col-md-6" id="image-box">
    <div class="col-md-12" id="drawing-box" drawing-target="<%= @product.id %>"></div>
      <%= image_tag @product.product_image.images[0].url(:large).to_s, class: "img-thumbnail img-responsive center-block", id: "big-image" %>
  </div>
  <div class="col-md-3">
    <div class="col-md-12 panel panel-default">
      <div class="col-md-6"><%= t("products.expect_print_time") %></div>
      <div class="col-md-6"><p><%= @product.print_time %><%= t("products.minutes") %></p></div>
      <div class="col-md-6"><%= t("products.dimensions") %></div>
      <div class="col-md-6"><p><%= @product.dimensions %> (mm)</p></div>
      <div class="col-md-6"><%= t("products.expect_print_quantity") %></div>
      <div class="col-md-6"><p><%= @product.quantity %><%= t("products.gram") %></p></div>
    </div>
    <div class="col-md-12 panel panel-default", id="collection-box">
      <div class="col-md-6">
        <button type="button" class="btn btn-sm btn-default centered"><span class="glyphicon glyphicon-heart"></span><%= t("products.favorite") %></button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-sm btn-default centered"><span class="glyphicon glyphicon-plus"></span><%= t("products.colection") %></button>
      </div>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-lg btn-default btn-block"><a href="<%= @product.drawing.drawing.url %>"><%= t("products.download") %></a></button>
    </div>
  </div>
</div>
<div class="row">

</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">

    <h3><%= t("products.desc_detail") %></h3>
    <%= @product.description.html_safe %>


  </div>
</div>
