<div class="row">
  <div class="col-md-1 col-md-offset-1">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <% if @maker.photo %>
        <%= image_tag @maker.photo.image_url(:thumb) %>
        <% else %>
        <%= image_tag 'default.jpg' %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <h3><%= @product.title %></h3>
    <p><%= @maker.username %> 上传</p>
    <% if @maker.id == current_user.id %>
      <%= link_to('修改内容', edit_product_path(@product)) %>
    <% end %>
  </div>
</div>

<div class="row" id="image-box-parent">
  <div class="col-md-6 col-md-offset-1" id="image-box">
    <div class="col-md-12" id="drawing-box" drawing-target="<%= @product.id %>"></div>
    <%= image_tag(@product.product_images.first.image_url(:big).to_s, 'class': "img-thumbnail", 'id': 'big-image') %>
  </div>
  <div class="col-md-3 col-md-offset-1" id="outline">
    <h3>大纲</h3>
    <ul>
      <li>it's not yet completed</li>
      <li>do it when next time</li>
    </ul>
    <div class="panel panel-default collection-box">
      <button type="button" class="btn btn-default collection-btn"><span class="glyphicon glyphicon-heart"></span>我的最爱</button>
      <button type="button" class="btn btn-default collection-btn"><span class="glyphicon glyphicon-plus"></span>加入收藏</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <% @product.product_images.each do |each_image| %>
    <div class="col-md-2">
      <%= link_to (image_tag each_image.image_url(:thumb), 'class': "img-thumbnail thumb-image "), "#", remote: 'true' %>
    </div>
    <% end %>
    <div class="col-md-2">
      <%= link_to (image_tag('cube.jpg', width: '100%', height: 'auto', 'class': "img-thumbnail thumb-drawing")), "#", remote: 'ture' %>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">

    <h3>详细介绍</h3>
    <%= @product.description %>


  </div>
</div>
