<nav class="navbar navbar-inverse navbar-static-bottom footer" role="navigation">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Makers</h3>
        <ul class="list-unstyled">
          <li><%= link_to '关于我们', '123', 'style': 'color: 777;' %></li>
          <li><%= link_to '联系我们', '#' %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>相关规定</h3>
        <ul class="list-unstyled">
          <li><%= link_to '版权声明', '#' %></li>
          <li><%= link_to '法律声明', '#' %></li>
          <li><%= link_to '隐私政策', '#' %></li>
          <li><%= link_to '用户协议', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
