<!DOCTYPE html>
<html>
  <head>
    <title>Designing-Muse</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="visualArea">
      <%= render "layouts/nav" %>
      <p class ="notice"><%= notice %></p>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
